
@using SistemaDeViajes.Models

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!--JQUERY VA ANTES DE LOS ARCHIVOS JS Y DESPUÉS DE LOS CSS-->
    <script src="~/Scripts/jquery-3.5.1.min.js"></script>

    <!--POPPER VA DESPÚES DE JQUERY PORQUE OCUPA JQUERY Y ANTES DE CUALQUIER ARCHIVO QUE CARGUE3 BOOTSTRAP.CSS
      YA QUE BOOTSTRAP OCUPA POPPER-->
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>*@


    <!--Fontawesome-->
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">




    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">YupiVoy</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                @*<li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Catalogo
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        @foreach (MenuModel model in (List<MenuModel>)Session["Rol"])
                        {
                            @Html.ActionLink(model.msj, model.nombreAccion, model.nombreControlador, null, new { @class = "dropdown-item" })
                        }

                        @*<a class="dropdown-item" href="/Marca/Index">Marca</a>
                        <a class="dropdown-item" href="/Sucursal/Index">Sucursales</a>
                        <a class="dropdown-item" href="/Cliente/Index">Clientes</a>
                        <a class="dropdown-item" href="/Empleado/Index">Empleados</a>
                        <a class="dropdown-item" href="/Bus/Index">Autobuces</a>
                        <a class="dropdown-item" href="/Viajes/Index">Viajes</a>
                        <a class="dropdown-item" href="/TipoUsuario/Index">Tipo de usuarios</a>
                        <a class="dropdown-item" href="/Rol/Index">Roles</a>
                        <a class="dropdown-item" href="/Pagina/Index">Paginas</a>
                        <a class="dropdown-item" href="/RolPagina/Index">Rol-Pagina</a>
                        <a class="dropdown-item" href="/Usuario/Index">Usuario</a>*@
                    </div>
                </li>
            </ul>
        </div>
        <a href="/Login/CerrarSesion" class="btn btn-danger"><i class="glyphicon glyphicon-log-out"></i> Salir</a>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>



    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>


    <!--PLUGIN DE LOS DATATABLES-->
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/datatables.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/dt/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-html5-1.0.3,b-print-1.0.3,se-1.0.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/r/dt/jq-2.1.4,jszip-2.5.0,pdfmake-0.1.18,dt-1.10.9,af-2.0.0,b-1.0.3,b-colvis-1.0.3,b-html5-1.0.3,b-print-1.0.3,se-1.0.1/datatables.min.js"></script>*@


</body>
</html>

